header {
  color: white;
  text-shadow: 1px 1px 2px black;
}

header > div > a {
  text-shadow: initial;
}

section.callout {
  color: white;
}

[class*="devicon"] {
  font-size: xx-large;
  color: rgba(29, 128, 159, 0.9);
}

.portfolio-item .caption .caption-content {
  text-shadow: 1px 1px 2px black;
}

#accordion > .card {
  font-family: "Source Code Pro", monospace;
}

.card-header > h5 > button {
  font-size: large;
  font-weight: bolder;
}

/* Loader Overlay */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;

  border: 3px solid #3498db;
  z-index: 1500;
}

h1 {
  color: #eeeeee;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid #e74c3c;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid #f9c922;
}

/* change border to transparent and set only border-top to a solid color */
#loader {
  border: 3px solid transparent;
  border-top-color: #3498db;
}
#loader:before {
  border: 3px solid transparent;
  border-top-color: #e74c3c;
}
#loader:after {
  border: 3px solid transparent;
  border-top-color: #f9c922;
}

#loader {
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
#loader:before {
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
#loader:after {
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #1d1777;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;
}

.loaded #loader-wrapper {
  visibility: hidden;
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

/* Animations */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

.pricing {
  margin-top: 50px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
}

.pricing-card-heading {
  padding: 10px;
  font-size: larger;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.pricing-card-heading-free {
  background-color: #f8fafe;
  color: #000;
}

.pricing-card-heading-lite {
  background: linear-gradient(
    90deg,
    rgba(194, 209, 255, 1) 0%,
    rgba(179, 114, 254, 1) 100%
  );
  color: #fff;
}

.pricing-card-heading-pro {
  background: linear-gradient(
    90deg,
    rgba(255, 177, 195, 1) 0%,
    rgba(255, 203, 112, 1) 100%
  );
  color: #fff;
}

.pricing-card-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 25px 0 45px 65px;
}

.pricing-card-list-item {
  position: relative;
}

.icon-yes::before {
  position: absolute;
  left: -30px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 25px;
  background: url("https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/check-4x.png")
    no-repeat;
  background-size: 15px;
  background-position: bottom center;
  filter: invert(75%) sepia(27%) saturate(459%) hue-rotate(76deg)
    brightness(90%) contrast(88%);
}

.icon-no::before {
  position: absolute;
  left: -27px;
  top: -5px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 25px;
  background: url("https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/plus-4x.png")
    no-repeat;
  background-size: 15px;
  background-position: bottom center;
  filter: invert(45%) sepia(88%) saturate(908%) hue-rotate(312deg)
    brightness(90%) contrast(86%);
  transform: rotate(45deg);
}

.icon-no {
  color: #999;
  text-decoration: line-through;
}

.pricing-card-btn {
  /* width: 85%; */
  font-size: 16px;
  padding: 15px;
  margin-left: 7.5%;
  border: 1px solid #27264b;
  border-radius: 5px;
  background-color: #fff;
  color: #27264b;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 250ms ease-in-out;
}

.pricing-card-btn:hover {
  background-color: rgb(228, 228, 240);
}

.pricing-card-highlight .pricing-card-btn {
  border: none;
  color: #fff;
  background-color: #27264b;
}

.pricing-card-highlight .pricing-card-btn:hover {
  background-color: #9390db;
}

.pricing-card-price {
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}

.pricing-card-price-text {
  font-weight: 400;
  font-size: 20px;
}

.thead-dark {
  background-color: #1d809f;
  color: white;
}
tbody {
  background-color: #fff;
}

.tfoot{
  background-color: #135468;
  color: white;
  text-align: center;
}
